/********** Base styles **********/
body{
  font-family: 'Oxygen', sans-serif;
  background-color: #000000a8; 
  font-size: 1em;
}

/* START HEADER */
#header-nav {
  background-color: #7c120f;
  border-radius: 0;
}
#header-nav .navbar-brand a{
  font-weight: bold;
  color: rgb(245, 250, 255);
  border-color: rgb(221, 14, 14);
  border-width: 1px;
}
.navbar-brand {
  font-size: 2.5em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  background: #b6a8a8;
  color: #7c120f;
  tab-size: 100%;
  border: 0px solid #e7e7e7;
  margin-top: 0px; 
  margin-bottom: 0px;
  overflow: hidden;
}
#nav-list a {
  color: #2c2c2c;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.navbar .navbar-nav > li > a {
  line-height: 20px;
   }

#nav-list hr {
  color: #951C49;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
#header-nav span.icon-bar{
  background: #b6a8a8;
}
#header-nav .navbar-toggle:hover, #header-nav .navbar-toggle:focus{
  border: 1px solid #750505;
}
#nav-list a:hover {
  background: #E7E7E7;
}
/* END HEADER */

/* START MAIN BLOCK */
h1.menu-title{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}
.title-size {
  font-size: 1.75em;
}
.text-size {
    font-size: 1.25em;
    overflow: auto;
}
h3.title-size {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.item{
  width: auto;
  background-color:#b6a8a8;
  color: #2c2c2c;
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid rgb(253, 253, 253);
}
.item p{
  margin-top: 20px;
  text-align: justify
}


